// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #FFFFFF;
}

.text-center {
  text-align: center;
  margin: 24px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 50px;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.banner h1 {
  color: #FFFFFF;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  font-size: 80px;
  font-family: 'Bellota Text', cursive;
}

.card-full {
  text-decoration: none !important;
  background-color:black;
  display:block;
  opacity:1;
  filter:alpha(opacity=100);
  transition: all 1s ease;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  // width:200px;
  // background: brightness(100%);
}

.card-full :hover {
  // text-decoration:none;
  opacity:0.7;
  transition: all 1s ease;
  transform: scale(1.2);
  // background-color:#000000;
  // border-radius:30px;
  // background: brightness(70%);
}

// .card-text {
//   height: 240px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   position:absolute;
//   z-index:10;
//   top: 9%;
//   right: 30%;
//   // padding-bottom: 40px;
// }

// .card-text :hover {
//   transform: scale(1);
// }

.card-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  // border: 1px solid rgb(0,0,0);
}

// .card-full {
//   width: 373px;
//   height: 300px;
//   position: relative;
//   display: inline-block;
//   transition: all ease 1s;
// }

// .card-full:hover > .overlay {
//     position: absolute;
//     top: 0;
//     width:100%;
//     height:100%;
//     left: 0;
//     background-color:#000;
//     opacity:0.5;
//     z-index: 100;
//     display: block;
// }

// .card-category {
//   display: none;
//   position: absolute;
//   top: 100px;
//   left: 0;
//   text-align: center;
// }


// span {
//   z-index: 5;
//   // color: #FFFFFF;
//   // text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
//   // background-position: none;
//   // position:absolute;
//   // font-size: 30px;
// }

.flex-card {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.flex-card h2 {
 font-size: 40px;
}

.flex-card ul {
  list-style: none;
  padding-left: 0px;
}

.description-card {
  width: 800px;
}

.description-card p {
  // font-height: 24px;
  line-height: 32px;
}
